# ID Google Analytics : G-E0JZ8EXZ6V
# WhatsApp : 3339680608

# reCAPTCHA v2 — claves exactas
#VITE_RECAPTCHA_SITE_KEY=6LcN9GAtAAAAAHyFQ0h-beFCvzCN-hsHJ5iZBlHQ
#RECAPTCHA_SECRET_KEY=6LcN9GAtAAAAAHlyQODIpeB2g9y_KFzjfFMnYdDA

# --- Transparencia emails ---
# 1) Irregularidades
#VITE_TRANSPARENCIA_IRREGULARIDADES_CORREOS=gerente.rh@grupoacerosocotlan.mx,gerente.auditoria@grupoacerosocotlan.mx,ejestrada@grupoacerosocotlan.mx

# 2) Fraudes
#VITE_TRANSPARENCIA_FRAUDES_CORREOS=gestor.contenidos@acerosocotlan.mx