<?xml version="1.0" encoding="UTF-8"?>
<!--
  IIS como proxy hacia Docker (contenedor web en localhost:8080).
  Requiere: URL Rewrite + Application Request Routing (ARR) con proxy habilitado.

  Coloca este archivo como web.config en el sitio IIS (o fusiona reglas con el tuyo).
-->
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="ProxyDockerPaginaWeb" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:8080/{R:1}" />
          <serverVariables>
            <set name="HTTP_X_FORWARDED_PROTO" value="https" />
            <set name="HTTP_X_FORWARDED_FOR" value="{REMOTE_ADDR}" />
          </serverVariables>
        </rule>
      </rules>
    </rewrite>
    <proxy enabled="true" preserveHostHeader="true" reverseRewriteHostInResponseHeaders="false" />
  </system.webServer>
</configuration>
