
APP_NAME=Pagina Web API
DEBUG=false

# CORS (front + producción)
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,https://acerosocotlan.mx,https://www.acerosocotlan.mx

# ------------------------------------------------------------
# SMTP
# ------------------------------------------------------------
SMTP_HOST=smtp.hornet.email
SMTP_PORT=587
SMTP_USER=servicio.cliente@acerosocotlan.mx
SMTP_PASSWORD=CAMBIAR_PASSWORD_SMTP

# >>> Email del Remitente <<<
SMTP_FROM=servicio.cliente@acerosocotlan.mx

# ------------------------------------------------------------
# Destinatarios 
# ------------------------------------------------------------
CORREOS_IRREGULARIDADES=gerente.rh@grupoacerosocotlan.mx,gerente.auditoria@grupoacerosocotlan.mx,ejestrada@grupoacerosocotlan.mx
CORREOS_FRAUDES=gestor.contenidos@acerosocotlan.mx
CORREOS_CONTACTO=servicio.cliente@acerosocotlan.mx

RECAPTCHA_SECRET_KEY=CAMBIAR_RECAPTCHA_SECRET
